body{
    padding: 0%;
    margin: 0 auto;
    background-image:linear-gradient(to right, #0b1017c9, #000000b8),url('../images/background3.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family:poppins;
  }
  
  /*------ navigation bar------ */
  .navigation{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff4d;
    background: #b1b39215;
    box-shadow: 0 5px 30px #00000052;
    backdrop-filter: blur(12px);
  }
  .navigation img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .navigation #navbar li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
  }
  .navigation #navbar li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
  }
  .navigation #navbar li a:hover{
    color: #ECEE52;
    transition: 0.2s;
  }
  .navigation #logout a{
    color: white;
    list-style: none;
    display: inline-block;
    padding: 10px 0px;
    cursor: pointer;
    text-decoration: none;
  }
  .navigation #logout a:hover{
    color: white;
    transform: scale(1.1);
  }
  
  /* ------banner / header------ */
  header{
    margin-top: 60px;
    color: white;
    text-align: center;
  }
  
  /*------Formbackground ------*/
  .formbackground {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    padding: 10px 30px;
    border: 1px solid #ffffff4d;
    border-radius: 20px;
    background: #6f6f6f34;
    backdrop-filter: blur(8px);
  }

  /* ------Contact form------ */
  .contactform{
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #d9d9d94d;
    box-shadow: 0 5px 30px #0000003e;
  }
  .inputfield {
    margin-bottom: 15px;
  }
  .inputfield textarea{
    font-family: sans-serif;
  }
  .inputs {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666666;
    color: #ffffff;
    font-size: 14px;
    outline: none;
  }
  .inputs::placeholder {
    color: #8b8b8b;
  }
  .inputs:focus {
    border-bottom-color: #ddd;
  }
  .submitbtn {
    color: #000000;
    font-weight:550;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #ffffff4d;
    background: #d4f195e8;
  }
  .submitbtn:hover{
    color: #000000;
    font-weight: 550;
    border-radius: 20px;
    border: 1px solid #ffffff4d;
    background: #ffffff;
  }
  .mydetails{
    margin-top: 30px;
    color: white;
  }
  .background{
    width: 50%;
    color: white;
    margin: auto;
    padding: 40px;
    border-radius: 12px;
    border: 1px solid #ffffff4d;
    background: #a7a99134;
    box-shadow: 0 5px 30px #0000001a;
    backdrop-filter: blur(12px);
  }
  .userform{
    margin: auto;
    text-align: center;
  }

  .background_Account b{
    color: white;
    padding: 2%;
  }

  .background_Account{
    width: 80%;
    margin: auto;
    margin-top: 2%;
  }
  .special{
    color: #b8d679e8;
  }
  .accounts{
    color: white;
    margin: auto;
    border-radius: 12px;
    border: 1px solid #ffffff4d;
    background: #a7a99134;
    box-shadow: 0 5px 30px #0000001a;
    backdrop-filter: blur(12px);
  }
  
  .accounts .details{
    padding: 1% 2% 0 2%;
  }

  .details{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details p{
    margin-top: 0%;
  }
  .details #amount{
    width: 100%;
    color: white;
  }

  #username, #email, #number, #question, #answer, #amount{
    text-align: center;
    width: 50%;
    height: 4%;
    padding: 8px;
    margin: 1% 0;
    font-size: 20px;
    font-family:poppins;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    color: #000000;
  }
  
  .submit_btn{
    font-weight: bold;
    width: 50%;
    height: 5%;
    color: #000000;
    padding: 10px 20px;
    margin-top: 3%;
    border-radius: 10px;
    border: 1px solid #ffffff4d;
    background: #ffffff;
  }
  .submit_btn:hover{
    color: #ffffff;
    background: #000000e8;
  }